<!--File Name: home.ejs
    Name: Fawad Mohammed Zaheer
    Student Id: 301230271
    Course: COMP-229 Sec.008-->


<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
</head>
<body>
    <header>
        <% include partials/main_nav.ejs %>
    </header>

<!--Main content-->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title%> page!</h1>
  
</main>
<br>
<center><a href="http://studentweb.cencol.ca/fzaheer4/COMP-213/Week2/index.html"><h3>Link to my Projects</h3></a></center><br>
<center><img src="/images/Project-1.png" width="500" height="280"><br><br></center>

</div id = "projectPara">
<p class="parPro">In this project, I built a website for a realtor where I listed all the listings which are under him. I made a 
navigation bar wherein there were seven links. One of them for rent, buy, contact, offices, developments. 
The languages used for building this website are HTML5 and CSS3.</p> 
<center><img src="/images/Project-2.png" width="500" height="280"><br><br></center>
<p class="parPro">The second project was a javascript based project where we built a photo gallery of few images which were flexible
to slide and add them to favourites which will display below</p>
<center><img src="/images/Project-3.png" width="500" height="280"><br><br></center>
<p class="parPro">The third project was about entering the number of rows and columns and then the output would show draw the assigned 
rows and columns. This project was based on JavaScript, HTML5, and CSS3.</p>
<center><img src="/images/Project-4.png" width="500" height="280"><br></center>
<p class="parPro">This project was based on BMR calculator where all the operations are done in backend and it is user interactive. The user can enter the 
age, height, weight and gender. Here, JavaScript, HTML5, and CSS3 were used.</p>
    </div>
<footer>
    <% include partials/bottom_nav.ejs %>
</footer>

<script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/Script/app.js"></script> 

</body>
</html>